* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cart {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cart-container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));   
}

.checkout-btn, .remove-btn {
    width: 80px;
    height: 30px;
    font-weight: 500;
    font-size: 0.8rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
}